<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
		<title>
			{% block title_block %}
				Base
			{% endblock %}
		</title>
	</head>
	</body>
		<div class="header">
			<!--Block for displaying header links, logo-->
			{% block header_block %}
				<a href="{% url 'main:home' %}">
					<img src="{% static 'images/logo.png' %}" alt="Home" id="logo" />
				</a>
				<ul>
					<a href="{% url 'main:hot' %}" class="header_link"><li>Posts by Hot</li></a>
					<a href="{% url 'main:new' %}" class="header_link"><li>Posts by New</li></a>
					<a href="{% url 'main:alltime' %}" class="header_link"><li>All Time Best Posts</li></a>
					<a href="{% url 'main:categories' %}" class="header_link"><li>Posts by other categories</li></a>
					{% if user.is_authenticated %}
						<a href="{% url 'main:account' %}" class="header_link"><li>Account</li></a>
					{% else %}
						<a href="{% url 'main:login' %}" class="header_link"><li>Log in</li></a>
					{% endif %}
				</ul>
			{% endblock %}
		</div>
		<div class="body">
			<!--Block where content will be filled by templates-->
			{% block body_block %}
				<p>Empty body block</p>
			{% endblock %}
		</div>
		<div class="footer">
			<!--Block for diplaying footer links-->
			{% block footer_block %}
				<ul class="footer_links">
					<li><a href="{% url 'main:about' %}">About us</a></li>
					<li><a href="{% url 'main:contact' %}">Contact us</a></li>
					<li><a href="{% url 'main:sitemap' %}">Sitemap</a></li>
				</ul>
			{% endblock %}
		</div>
	</body>
</html>
