#logo{
	margin-left: -250px;
	margin-top: -50px;
	height: 130px;
	width: 225px;
}

.footer {
	margin-left: 50px;
	margin-right: 50px;
	border: 2px solid black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.body {
	margin-left: 125px;
	margin-right: 125px;
	margin-bottom: 100px
}

.header {
	margin-top: 100px;
	margin-right: 75px;
	margin-left: 300px;
	margin-bottom: 100px;
}

.header ul {
	list-style-type: none;
	margin-top: -65px;
	margin-bottom: 25px;
	margin-left: -10px;
}

.header li {
	padding:55px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline;
	border: 2px solid black;
	box-shadow: 5px 5px;
}

.footer_links {
	list-style-type: none;
}

.footer_links li {
	margin: 50px;
	display: inline;
}